[project]
	description = a DISTributed systems EMulator
	state = active
[access "refs/*"]
	owner = group batch
	owner = group distem
	label-Verified = -1..+1 group distem
	label-Code-Review = -2..+2 group distem
	submit = group batch
	submit = group distem
	read = group Anonymous Users
	read = group distem
	push = +force group distem
[submit]
	mergeContent = true
