Source: distem
Section: ruby
Priority: optional
Maintainer: Lucas Nussbaum <lucas.nussbaum@loria.fr>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.7~)
Standards-Version: 3.9.2
Vcs-Git: git://scm.gforge.inria.fr/distem/distem.git
Vcs-Browser: https://gforge.inria.fr/scm/browser.php?group_id=3519
Homepage: http://distem.gforge.inria.fr/
XS-Ruby-Versions: all

Package: distem
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-net-ssh,
 ruby-ipaddress, ruby-rest-client, ruby-sinatra, ruby-json, lxc, bridge-utils, ruby-json,
 hwloc, cpufrequtils, ethtool, lsof, psmisc
Description: DISTributed system EMulator
 distem is a distributed systems emulator. When doing research on Cloud, P2P,
 High Performance Computing or Grid systems, it can be used to transform an
 homogenenous cluster (composed of identical nodes) into an experimental
 platform where nodes have different performance, and are linked together
 through a complex network topology, making it the ideal tool to benchmark
 applications targetting such environments.
